@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,600);

body {
  font-family: "Source Code Pro";
  font-size: 80.0%;
  color: #262626;
}

h1, h2, h3, h4 {
  font-family: "Source Code Pro";
  font-weight: 600;
}

/* divs
 * ------------ */
.vcenter-parent {
  display: flex;
  flex-direction: row;
  align-items: center; /* vert */
  justify-content: center; /* horiz */
}

.title {
  font-family: "Source Code Pro";
  font-weight: 600;
  font-size: 2em;
}
#main {
  width: 80vw;
  height: 60vh;
}
